## ---------------------------------------------------------------------------
## See the NOTICE file distributed with this work for additional
## information regarding copyright ownership.
##
## This is free software; you can redistribute it and/or modify it
## under the terms of the GNU Lesser General Public License as
## published by the Free Software Foundation; either version 2.1 of
## the License, or (at your option) any later version.
##
## This software is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
## Lesser General Public License for more details.
##
## You should have received a copy of the GNU Lesser General Public
## License along with this software; if not, write to the Free
## Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
## 02110-1301 USA, or see the FSF site: http://www.fsf.org.
## ---------------------------------------------------------------------------
#set ($knownJiraFields = [
{'name': 'assignee', 'value': 'assignees'},
{'name': 'reporter', 'value': 'reporter'},
{'name': 'status', 'value': 'statuses'},
{'name': 'fixversion', 'value': 'allFixfor'},
{'name': 'component', 'value': 'components'},
{'name': 'priority', 'value': 'priorities'},
{'name': 'type', 'value': 'issuetype'}
])

#macro (jiraFieldPicker_displayOptions $selectedValues)
  #foreach ($field in $knownJiraFields)
  <option value="$!escapetool.xml($field.value)"#if ($selectedValues.contains($field.value)) selected="selected"#end>
    $!escapetool.xml($services.localization.render("rendering.macro.charts.JiraFieldDisplayer.field.$field.name"))
  </option>
  #end
#end

#set ($discard = $xwiki.jsfx.use('uicomponents/suggest/xwiki.selectize.js', true))
## See https://github.com/selectize/selectize.js/blob/master/docs/usage.md#configuration
#set ($selectizeSettings = {})
#set ($suggestInputAttributes = {
  'name': 'jiraField',
  'class': 'xwiki-selectize',
  'data-xwiki-selectize': $selectizeSettings,
  'value': 'issuetype',
  'placeholder': $services.localization.render('rendering.macro.charts.JiraFieldDisplayer.placeholder'),
  'create': true
})
#picker_import
#suggestInput($suggestInputAttributes 'jiraFieldPicker_displayOptions')